.outer-div {
  background-color: orange;
  border: 1px solid black;
  width: 600px;
  height: 500px;
  margin: 50px;
}

.box {
  border: 1px solid black;
  text-align: center;
  width: 100px;
  padding: 10px;
}

.box a {
  text-decoration: none;
  color: black;
}

.box a:visited {
  text-decoration: none;
  color: black;
}

.inner-div {
  float: right;
  background-color: lightgray;
  width: 470px;
  height: 460px;
}

.inner-div2 {
  background-color: white;
  margin: 25px;
  width: 94%;
  height: 88%;
}

.team-header {
  float: right;
}

.team-icon {
  height: 25px;
  width: 25px;
}

.navigation-table {
  float: left;
}

.content-center {
  text-align: center;
}